<tr>
    <td><%= entry.resource.id %></td>
    <td><%= entry.resource.resourceType %></td>
    <td><%= entry.resource.meta.lastUpdated %></td>
    <td>
        <button class="delete-btn" adata-id="<%= entry.resource.id %>">Delete</button>
    </td>    
 
</tr>
