    <div style="background-color: lightblue;">
      <h5>Patient Search Form</h5>
        <form id="searchForm">
          <label for="surname">Surname:</label>
          <input type="text" id="surname" name="surname" value="" ></br>
      
          <label for="forename">Forename:</label>
          <input type="text" id="forename" name="forename" value="" >
        </br>
          <button type="submit" id="searchPatientButton" name="searchPatientButton">Search</button>
        </form>
      </div>
      
      