    <div>
        <form id="searchForm">
          <label for="surname">Surname:</label>
          <input type="text" id="surname" name="surname" value="" required>
      
          <label for="forename">Forename:</label>
          <input type="text" id="forename" name="forename" value="" required>
      
          <button type="submit" id="searchPatient" name="searchPatient">Search</button>
        </form>
      </div>
      
      