    <div>
        <form id="searchForm">
          <label for="surname">Surname:</label>
          <input type="text" id="surname" name="surname" value="d" required>
      
          <label for="forename">Forename:</label>
          <input type="text" id="forename" name="forename" value="j" required>
      
          <button type="submit">Search</button>
        </form>
      </div>
      
      <script>
        document.getElementById('searchForm').addEventListener('submit', function(event) {
          event.preventDefault();
          const surname = document.getElementById('surname').value;
          const forename = document.getElementById('forename').value;
      
          fetch(`/search/Patient?family=${surname}&given=${forename}`)
            .then(response => response.text())
            .then(html => {
             
              document.getElementById('searchResults').innerHTML = html;
              if (typeof addEventListeners === 'function') {
          addEventListeners();
        } else {
          console.error('addEventListeners function is not defined ');
        }
            })
            .catch(error => console.error('Error:', error));
        });

    
      </script>
