<!-- views/partials/entryPartial.ejs -->
<p>All Resources for this Patient</p>
<div class="entry">
  <table>

  <% entries.forEach(entry => { %>
      <%- include('./entryPartial', { entry: entry }) %>
  <% }) %>
</table>
  
</div>
