    <div>
        <form id="searchForm">
          <label for="surname">Surname:</label>
          <input type="text" id="surname" name="surname" value="d" required>
      
          <label for="forename">Forename:</label>
          <input type="text" id="forename" name="forename" value="j" required>
      
          <button type="submit">Search</button>
        </form>
      </div>
      
      