<div>
    <label for='family'>Family Name: </label>
    <input type='text' id='Patient' name='family' placeholder='family'><br>

    <label for='given'>Given Name: </label>
    <input type='text' id='Patient' name='given' placeholder='given'><br>
    
</div>