<div>
    <form id="Encounter">
        <input type='text' id='Encounter.identifier' name='identifier' placeholder='.'><br>"
        <input type='text' id='Encounter.status' name='status' placeholder='.'><br>"
        <input type='text' id='Encounter.statusHistory' name='statusHistory' placeholder='.'><br>"
        <input type='text' id='Encounter.class' name='class' placeholder='.'><br>"
        <input type='text' id='Encounter.classHistory' name='classHistory' placeholder='.'><br>"
        <input type='text' id='Encounter.type' name='type' placeholder='.'><br>"
        <input type='text' id='Encounter.serviceType' name='serviceType' placeholder='.'><br>"
        <input type='text' id='Encounter.priority' name='priority' placeholder='.'><br>"
        <input type='text' id='Encounter.subject' name='subject' placeholder='.'><br>"
        <input type='text' id='Encounter.episodeOfCare' name='episodeOfCare' placeholder='.'><br>"
        <input type='text' id='Encounter.basedOn' name='basedOn' placeholder='.'><br>"
        <input type='text' id='Encounter.participant' name='participant' placeholder='.'><br>"
        <input type='text' id='Encounter.appointment' name='appointment' placeholder='.'><br>"
        <input type='text' id='Encounter.period' name='period' placeholder='.'><br>"
        <input type='text' id='Encounter.length' name='length' placeholder='.'><br>"
        <input type='text' id='Encounter.reasonCode' name='reasonCode' placeholder='.'><br>"
        <input type='text' id='Encounter.reasonReference' name='reasonReference' placeholder='.'><br>"
        <input type='text' id='Encounter.diagnosis' name='diagnosis' placeholder='.'><br>"
        <input type='text' id='Encounter.account' name='account' placeholder='.'><br>"
        <input type='text' id='Encounter.hospitalization' name='hospitalization' placeholder='.'><br>"
        <input type='text' id='Encounter.location' name='location' placeholder='.'><br>"
        <input type='text' id='Encounter.serviceProvider' name='serviceProvider' placeholder='.'><br>"
        <input type='text' id='Encounter.partOf' name='partOf' placeholder='.'><br>"
    </form>
<div>