<div>
    <form id="Patient">
    <input type='text' id='Patient.identifier' name='identifier' placeholder='.'><br>"
    <input type='text' id='Patient.active' name='active' placeholder='.'><br>"
    <input type='text' id='Patient.name' name='name' placeholder='.'><br>"
    <input type='text' id='Patient.telecom' name='telecom' placeholder='.'><br>"
    <input type='text' id='Patient.gender' name='gender' placeholder='.'><br>"
    <input type='text' id='Patient.birthDate' name='birthDate' placeholder='.'><br>"
    <input type='text' id='Patient.' name='' placeholder='.'><br>"
    <input type='text' id='Patient.address' name='address' placeholder='.'><br>"
    <input type='text' id='Patient.maritalStatus' name='maritalStatus' placeholder='.'><br>"
    <input type='text' id='Patient.' name='' placeholder='.'><br>"
    <input type='text' id='Patient.photo' name='photo' placeholder='.'><br>"
    <input type='text' id='Patient.contact' name='contact' placeholder='.'><br>"
    <input type='text' id='Patient.communication' name='communication' placeholder='.'><br>"
    <input type='text' id='Patient.generalPractitioner' name='generalPractitioner' placeholder='.'><br>"
    <input type='text' id='Patient.managingOrganization' name='managingOrganization' placeholder='.'><br>"
    <input type='text' id='Patient.link' name='link' placeholder='.'><br>"
    </form>
        <div>